.container {
    display: flex;
    justify-content: center;
    align-items: top;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
    opacity: 0.9;
  }
  
  .form {
    height: min-content;
    border-radius: 1em;
    width: 600px;
    color: navy; 
    padding: 40px;
    margin: 50px auto;
    background-color: rgb(223, 220, 219);
    border: 1px solid black;
  }
  .formGroup{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  
  .form legend{
    font-size: 1.8em;
    font-weight: 700;
    margin-bottom: 25px;
  }
  
  .form label {
      margin-bottom: 10px;
      font-size: 1.2em;
      font-weight: 700;
      text-align: left;
    }
    .form input {
      
      border: 1px solid rgb(185, 142, 22);
      padding: 8px 0.5px;
      font-size: 1.2em;
      color: rgb(8, 2, 19);
      width: 100%;
    }
    
    .form select{
      border: 1px solid rgb(185, 142, 22);
      padding: 8px 10px;
      font-size: 1.2em;
      color: black;
      outline: none;
      width: 100%;
      transition: all .15s ease;
    }
    
  .container h1{
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 25px;
    margin-left: 30%;
  }

    .btn{
    max-width: 15%;
    max-height: 20%;
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .uploadFile{
    background-color: #092431;
    width: 100%;
    height: 100%;
    color: white;
    border: none;
    padding: 10px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.uploadFile label{
margin-right: 10%;

}